/* ---- reset ---- */

// body {
//     margin: 0;
//     font:normal 75% Arial, Helvetica, sans-serif;
//   }
  
  canvas {
    display: block;
  }
  
  /* ---- particles.js container ---- */
  
  #particles-js {
    width: 100%;
    height: 400px;
    background-color: $main-blue;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .contact__form#particles-js {
    height: 700px;
  }