.content__process {
    max-width: 1600px;
    margin: 0 auto;
}
.process__body {
    margin: 40px 20px 0 20px;
    display: flex;
    flex-direction: column;
    // justify-items: center;
    align-items: center;
}

.process__block {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
}

.process__name {
    width: 200px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: right;
    margin-right: 20px;
}

.process__description {
    max-width: 700px;
    font-size: 15px;
    padding: 30px;
    background-color: $light-gray;
    color: $text-gray;
}




@media (max-width: 990px) {
    .process__body {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .process__block {
        max-width: 300px;
        flex-direction: column;
    }

    .process__name {
        margin: 0 0 20px 0;
        text-align: center;
        font-size: 16px;
    }

    .process__description {
        flex: 0 1 300px;
    }

    @media (max-width: 639px){
        .process__description {
            flex: 0 0 auto;
            font-size: 13px;
        }
    }
}

